# Node dependency folders
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron config and system paths
.DS_Store
Thumbs.db

# Python cache folders
__pycache__/
*.py[cod]
*$py.class

# Local user configs (so the user doesn't commit their selected server directory)
dashboard/config.json
app-config.json
config.json
